<!DOCTYPE html>
<html>
    <h1>Enter the item you would like to buy!</h1>
    <form action="/checkout" method="post">
    <label for="your_item">Item:</label>
    <input id="your_item" type="text" name="item"><br>
    <button type="submit" value="submit" id="submit">Submit</button>
    </form>
</html>