<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Purchase</title>
</head>
<body>
  <form action="/checkout" method="post">

    <label for="item_to_purchase">Purchase this item:</label>
    <input type="text" name="item" id="item_to_purchase">
    <input type="submit" value="submit">
  
  </form>
</body>
</html>
