<!DOCTYPE html>
<html>
    <form action="/checkout" method="post">
    <label for="@session[item]">Item:</label>
    <input id="@session[item]" type="text" name="@session[item]"><br>
    <button type="submit" value="submit">Submit</button>
    </form>
</html>